<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  {% autoescape off %}
  <script>
    window.onload = function () {

      var chart = new CanvasJS.Chart("chartContainer", {
        theme: "light2",
        animationEnabled: true,
        title: {
          text: "{{word1}}과 {{word2}}의 트렌드 "
        },
        axisX: {
          labelFontStyle: "normal",
          labelAngle: null,
          interlacedColor: "#FFF0FB",

        },
        axisY: {
          includeZero: false,
          title: "트렌드 검색 수치",
          maximum: 100,
          gridColor: "orange",

        },
        toolTip: {
          shared: "true"
        },
        legend: {
          cursor: "pointer",
          itemclick: toggleDataSeries
        },
        data: [
        {
          type: "spline",
          click: onClick,
          showInLegend: true, // 그래프를 보여줌
          yValueFormatString: "",
          name: "{{word1}}",
          dataPoints:
            {{ ab }}

        },
        
        {
          type: "spline",
          showInLegend: true, // 그래프를 보여줌
          click: onClick,
          yValueFormatString: "",
          name: "{{word2}}",
          dataPoints: {{ cd }}
        }]
      });
      chart.render();
      // 적용된 것을 랜더 시킴
      function onClick(e) {

        //window.open(e.dataPoint.link, '_blank');
        //console.log(e.dataPoint.label);
        //console.log(e.dataSeries.name);
        //window.open('/anal?date='+e.dataPoint.label+'&'+'keyword='+e.dataSeries.name, '_blank')
        window.location.href = '/anal?date='+e.dataPoint.label+'&'+'keyword='+e.dataSeries.name;

        }


      function toggleDataSeries(e) {
        if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
          e.dataSeries.visible = false;
          // 눌르면 어둡게 하면 .. 차트 사라짐
        } else {
          e.dataSeries.visible = true;
          // 다시 밣히면 차트 보임
        }
        chart.render();
      }

    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>


  {% endautoescape %}


<div id="chartContainer" style="height: 400px; width: 2200px"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>
