{% extends 'base.html' %}
{% block title %}
BBS
{% endblock %}

{% block body %}

{% if 'loggedin' in session %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron p-3">
                <h2><b>게시판</b> <a type="button" class="btn btn-success float-right" href="{{url_for('bbs.Write')}}">글쓰기</a></h2>

            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>순번 </th>
                        <th>제목 </th>
                        <th>작성자 </th>
                        <th>날짜 </th>
                        <th>조회수 </th>
                    </tr>
                </thead>

                <tbody>

                    {% for row in ROWS %}
                    <tr data-href="{{url_for('bbs.View',id=row.id)}}">
                        <td>{{ pagination.total - ( loop.index + pagination.skip ) + 1 }}</td>
                        <td>{{ row.title | safe }}</td>
                        <td>{{ row.name }}</td>
                        <td>{{ row.date }}</td>
                        <td>{{ row.count }}</td>
                    </tr>

                    
                    {% endfor %}
                </tbody>

            </table>
            <br>
            <ul class="pagination justify-content-center">
                {{ pagination.links }}
            </ul>
        
        </div>
    </div>
</div>

<!-- 테이블 row 클릭리스너 -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;

            });
        });
    });
</script>


{% endif %}
{% endblock %}