{% extends 'base.html' %}
{% block title %}data revise{% endblock %}
{% block body %}
<form action="{{url_for('revise.Product_list')}}" method="GET">
  <div class="search">
      <input type="search" name="comment" class="search-box" />
      <span class="search-button">
        <span class="search-icon"></span>
      </span>
    </div>
  </form>



  <!-- Page Content -->
  <div class="container">
        <div class="row">
            {% for row in rows %}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              <a class="nave-link" href="{{url_for('revise.Product_revise', handle=row['handle'])}}"><img class="card-img-top" src="{{row['image_src']}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a class="nave-link" href="{{url_for('revise.Product_revise', handle=row['handle'])}}">{{row['title']}}</a>
                </h4>
                <a class="nave-link" href="{{url_for('revise.Product_revise', handle=row['handle'])}}"><h5>${{row['variant_price']}}</h5></a>
              </div>
            </div>
          </div>
          {% endfor %}    
        </div>
        <!-- /.row -->
        {{ pagination.links }}    
  </div>
  <!-- /.container -->
<script>
  $('.search-button').click(function(){
    $(this).parent().toggleClass('open');
  });
</script>


{% endblock %}