<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>꺠알 기본용어 설명</title>
  <style>
  table {
  width: 100%;
  border: 1px solid #444444;
}
th, td {
  border: 1px solid #444444;
}
</style>
  </head>
  <body>
    <table>
        <thead>


        <tr>
          <th>이름</th>
          <th>설명</th>
        </tr>
        </thead>
        <tbody>


        <tr>
          <td>PTS</td>
          <td>득점</td>
        </tr>
        <tr>
          <td>AST</td>
  	<td>어시스트</td>
        </tr>
        <tr>
          <td>REB</td>
  	<td>리바운드</td>
        </tr>
        <tr>
          <td>GP</td>
  	<td>경기출전</td>
        </tr>
        <tr>
          <td>GS</td>
  	<td>선발출전</td>
        </tr>
        <tr>
          <td>MIN</td>
  	      <td>출전시간(분)</td>
        </tr>
         <tr>
          <td>FGM</td>
          <td>슛 성공</td>
        </tr>
        <tr>
          <td>FGA</td>
  	<td>슛 시도</td>
        </tr>
        <tr>
          <td>FG_PCT</td>
  	<td>슛 성공률</td>
        </tr>
        <tr>
          <td>FTM</td>
  	<td>자유투 성공</td>
        </tr>
        <tr>
          <td>FTA</td>
  	<td>자유투 시도</td>
        </tr>
        <tr>
          <td>FT_PCT</td>
  	<td>자유투 성공률</td>
        </tr>
         <tr>
          <td>OREB</td>
          <td>공격리바운드</td>
        </tr>
        <tr>
          <td>DREB</td>
  	<td>수비리바운드</td>
        </tr>
        <tr>
          <td>STL</td>
  	<td>스틸</td>
        </tr>
        <tr>
          <td>BLK</td>
  	<td>블록</td>
        </tr>
        <tr>
          <td>TOV</td>
  	<td>턴오버</td>
        </tr>
        <tr>
          <td>PF</td>
  	<td>개인파울</td>
        </tr>
         <tr>
          <td>FG3M</td>
          <td>3점슛 성공</td>
        </tr>
        <tr>
          <td>FG3A</td>
  	<td>3점슛 시도</td>
        </tr>
        <tr>
          <td>FG3_PCT</td>
  	<td>3점슛 성공률</td>
        </tr>
        <tr>
          <td>EFF</td>
  	<td>효율성 수치(PTS + REB + AST + STL + BLK − Missed FG − Missed FT − TO)</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
