{% extends 'base.html' %}
{% block title %}
BBS
{% endblock %}

{% block body %}

{% if 'loggedin' in session %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron p-3">
                <h2><b>게시판</b> <a type="button" class="btn btn-success float-right" href="{{url_for('bbs.Write')}}">글쓰기</a></h2>

            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>순번 </th>
                        <th>제목 </th>
                        <th>작성자 </th>
                        <th>날짜 </th>
                        <th>조회수 </th>
                    </tr>
                </thead>

                <tbody>

                    {% for row in ROWS %}
                    <tr data-href="{{url_for('bbs.View',id=row.id)}}">
                        <td>{{ PAGEINFO.totalitem - (loop.index + PAGEINFO.pageoffset) + 1 }}</td>

                        <td>{{ row.title }}</td>
                        <td>{{ row.author }}</td>
                        <td>{{ row.date }}</td>
                        <td>{{ row.count }}</td>
                    </tr>

                    <tr id="content_{{loop.index}}" hidden=true>
                        <td colspan="5"><br>{{ row.content }}<br><br><br></td>

                    </tr>


                    {% endfor %}
                </tbody>

            </table>
            <br>
            <ul class="pagination justify-content-center">

                {% if PAGEINFO.currentpage > 1 %}
                <li class="page-item ">
                    <a class="page-link" href="{{url_for('bbs.Main',page=PAGEINFO.currentpage-1)}}" tabindex="-1">이전</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{url_for('bbs.Main',page=PAGEINFO.currentpage-1)}}" tabindex="-1">이전</a>
                </li>
                {% endif %}


                {% for page in range(PAGEINFO.lastpage) %}
                {% if PAGEINFO.currentpage == loop.index %}
                <li class="page-item active"><a class="page-link"
                        href="{{url_for('bbs.Main',page=loop.index)}}">{{loop.index}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link"
                        href="{{url_for('bbs.Main',page=loop.index)}}">{{loop.index}}</a></li>
                {% endif %}
                {% endfor %}
                {% if PAGEINFO.lastpage > PAGEINFO.currentpage  %}
                <li class="page-item">
                    <a class="page-link" href="{{url_for('bbs.Main',page=PAGEINFO.currentpage+1)}}">다음</a>
                </li>
                {% else %}
                <li class="page-item disabled" >
                    <a class="page-link" href="{{url_for('bbs.Main',page=PAGEINFO.currentpage+1)}}">다음</a>
                </li>
                
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<!-- 테이블 row 클릭리스너 -->
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");

        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;

            });
        });
    });
</script>


{% endif %}
{% endblock %}