{% extends 'base.html' %}
{% block title %}
BBS
{% endblock %}

{% block body %}

{% if 'loggedin' in session %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron p-3">
                <h2><b>게시글 조회</b> </h2>

            </div>
            {{ROW.title}}
            <br><br>
            {{ROW.content}}
            <br><br>
            {{ROW.author}}
            {{ROW.date}}


           
            
        </div>
    </div>
</div>

{% endif %}
{% endblock %}