<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    table {
      border: solid 1px black;
    }
    th {
      border: solid 1px black;
    }
    td{
      border: solid 1px black;
    }
    </style>
  </head>
  <body>
	  <table>
      <thead>
        <tr>
          <th>이름</th>
          <th>날짜</th>
          <th>샌드위치</th>
          <th>사이즈</th>
          <th>빵종류</th>
          <th>토핑 추가</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{name}}</td>
          <td>{{date}}</td>
          <td>
            {{sand}}
          </td>
          <td>
            {{size}}
          </td>
          <td>
            {{bread}}
          </td>
          <td>
            {{check}}
          </td>
        </tr>
      </tbody>
	  </table>
  </body>
</html>
