<!doctype html>
<html lang="en">
<head> <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style>

    .abc { caption-side: top;
           color: green;
     }


    </style>
  <!-- Bootstrap CSS -->

   <title>느바데이터마을</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <a class="navbar-brand" href="/" style="color:white">Home</a>
      </nav>
    <div>
      <img src ="{{ url_for('static', filename='img/nba2.jpg') }}" width=100% height="300" />
    </div>




    <div class="table-responsive">
      <table class="table table-hover">
          <caption class='abc'>NBA 선수 목록</caption><br/>
          <div>
            <fieldset>
          <form action="/search" id="searchform" method="GET">
            <input type="search" name="fullname" placeholder="플레이어(영문) 검색" required />
            <input type="submit" value="플레이어 검색"/>

          </fieldset>
          </form>
            </div>
        <thead>
          <tr>
            <th>no</th>
            <th>id</th>
            <th>이름</th>
            <th>성</th>
            <th>풀네임</th>
          </tr>
        </thead>
        <tbody>
          {% for searchrow in searchrows: %}
          <tr>
            <td>{{ searchrow['no']}}</td>
            <td><a href='/newpage'>{{ searchrow['id']}}</a></td>
            <td>{{ searchrow['firstname']}}</td>
            <td>{{ searchrow['lastname']}}</td>
            <td>{{ searchrow['fullname']}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {{ pagination.links }}



         <!-- Optional JavaScript --> <!-- jQuery first, then Popper.js, then Bootstrap JS -->


          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel.css') }}">
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
         <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
         <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
         <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
         <script>

         $('tr:first').css('color', 'blue');
         $('tbody>tr:even').css('background', 'lightyellow')
         $('tbody>tr:odd').css('background', 'lightpink')
         </script>




       </body>
       </html>
