{% extends 'base.html' %}
<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title></title>
    </head>
    <body>
            {% block body %}
            <!-- 새로 작성할 폼 생성 -->
            <form action ='/example/create/' method='POST'>
                    {% csrf_token %}
                    <label for="title">기사 제목</label>
                    <input type="text" name = "title" id="title"><br>
                    <textarea name="content" cols="30" rows="5"></textarea>
                    <br><input type="submit">


            </form>
            {% endblock %}
    </body>
  </html>

